:root{
  --clr-primary-100: #1a2a33;

  --clr-primary-200: #1f3641;

  --clr-primary-300: #a8bfc9;

  --clr-primary-400: #a8bfc9;

  --clr-primary-500: #10212a;

  --clr-primary-600: #1a2a33;

  --clr-primary-700: #f2b137;

  --clr-primary-800: #cc8b13;
  
  --clr-primary-900: #31c3bd;

  --clr-primary-1000: #118c87;
/*
  --ff-primary: 'Barlow Semi Condensed', sans-serif;

  --br: .5rem;

  --fs-100: .8125rem;*/

}