:root{
  --clr-primary-100: #1a2a33;

  --clr-primary-200: #1f3641;

  --clr-primary-300: #a8bfc9;

  --clr-primary-400: #a8bfc9;

  --clr-primary-500: #10212a;

  --clr-primary-600: #1a2a33;

  --clr-primary-700: #f2b137;

  --clr-primary-800: #cc8b13;

  --clr-primary-900: #31c3bd;

  --clr-primary-1000: #118c87;

  --clr-neutral-100: rgba(168,191,201,.05);

  --clr-neutral-200: #ffc860;

  --clr-neutral-300: #65e9e4;

  --clr-neutral-400: #dbe8ed;

  --clr-neutral-500: #6b8997;



  

  --ff-primary: "Outfit", "sans-serif";

}