.container{
  max-width: 50.8rem;
  margin: 0 auto;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  height: 100vh;
}

.game-menu{
  flex: 1 1;
}

.game-menu-header{
  display: flex;
  justify-content: center;
  gap: 6px;
}

.game-menu-header img, .mark-choices-choice svg {
  width: 3.2rem;
}

.game-menu-marks{
  margin: 4rem 0;
  padding: 2.4rem 2.4rem 2.9rem;
  text-align: center;
  box-shadow: inset 0 -8px 0 var(--clr-primary-500);
  background-color: var(--clr-primary-200);
  border-radius: 1.5rem;
}

.game-menu-marks h1{
  font-size: 1.6rem;
  line-height: 2.016rem;
  letter-spacing: 0.1rem;
  color: var(--clr-primary-300);
  padding-left: 2px;
}

.mark-choices{
  margin: 2.4rem 0 1.8rem;
  height: 7.2rem;
  padding: 0.9rem;
  background-color: var(--clr-primary-100);
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}

.mark-choices-choice{
  flex: 1 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.game-menu-marks label{
  font-size: 1.4rem;
  line-height: 1.764rem;
  letter-spacing: .88px;
  font-weight: 500;
  color: var(--clr-primary-300);
  padding-left: 0.4rem;
  opacity: .5;
}

.game-menu-cta{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateY(1px);
}

.game-menu-cta button {
  border: none;
  color: var(--clr-primary-600);
  cursor: pointer;
  width: 100%;
  position: relative;
  transition: box-shadow .1s ease-out,transform .1s ease-out,-webkit-transform .1s ease-out;
}

a{
  text-decoration: none;
}

.large{
  height: 6.7rem;
  padding: 0 3rem 0.8rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  line-height: 2.52rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
}

.orange{
  background: var(--clr-primary-700);
  box-shadow: inset 0 -8px 0 var(--clr-primary-800);
}

.green{
  background: var(--clr-primary-900);
  box-shadow: inset 0 -8px 0 var(--clr-primary-1000);
  padding-left: 3.4rem;
}

.game-menu-cta button i{
  font-style: normal;
}

.game-menu-marks .mark-choices:after {
  content: "";
  position: absolute;
  top: 9px;
  bottom: 9px;
  width: calc(50% - 8px);
  background-color: var(--clr-primary-300);
  border-radius: 10px;
  z-index: 1;
  transition: transform .3s ease-in-out;
}

.game-menu-marks .mark-choices.o:after {
  -webkit-transform: translate3d(50%,0,0);
  transform: translate3d(50%,0,0);
}

.game-menu-marks .mark-choices.x:after {
  -webkit-transform: translate3d(50%,0,0);
  transform: translate3d(-50%,0,0);
}

.mark-choices-choice:hover {
  background-color: var(--clr-neutral-100);
  border-radius: 1rem;
}

.orange:hover{
  background: var(--clr-neutral-200);
}

.green:hover{
  background: var(--clr-neutral-300);
}

.game-menu-cta .orange:active{
  border-radius: 1.5rem;
  top: 4px;
  box-shadow: inset 0 -4px 0 var(--clr-primary-800);
}

.game-menu-cta .green:active{
  border-radius: 1.5rem;
  top: 4px;
  box-shadow: inset 0 -4px 0 var(--clr-primary-900);
}


.game-menu-marks .mark-choices-choice svg path {
  transition: fill .2s ease-in-out;
  will-change: fill;
  transition-delay: .1s;
}

.game-menu-marks .mark-choices-choice svg:last-child {
  transform: translateX(1px);
}


