main{
  
}

.container{
  max-width: 50.8rem; 
  margin: 0 auto;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  height: 100vh;
}

.game-container{
  flex: 1 1;
}

.game-container-header{
  display: flex;
  justify-content: space-between;
}

.left-side-container{
  margin-top: 3px;
}

.left-side{
  display: flex;
  gap: 0.6rem;
  width: 7.2rem;
}

.left-side img{
  min-width: 3.2rem;
}

.center-container{
  background-color: #1f3641;
  box-shadow: inset 0 -4px 0 #10212a;
  border-radius: 1rem;
  transform: translateX(-11px);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  height: 100%;
  width: 14rem;
  padding: 0 1rem 0.6rem;
}

.center img{
  width: 2rem;
}

.center label{
  font-size: 1.6rem;
  line-height: 0;
  letter-spacing: 1px;
  color: #a8bfc9;
}

.right-side-container{

}

button{
  border: none;
  cursor: pointer;
  transition: box-shadow .1s ease-out,transform .1s ease-out,-webkit-transform .1s ease-out;
}

.right-side-button{
  background: var(--clr-primary-400);
  box-shadow: inset 0 -4px 0 var(--clr-neutral-500);
  height: 5.2rem;
  padding: 0 1.6rem;
  border-radius: 1rem;
  width: auto;
  position: relative;
}

.right-side-button:active{
  top: 2px; 
  box-shadow: inset 0 -2px 0 var(--clr-neutral-500);
}

.icon div{
  position: relative;
  top: 2px;
  transition: transform .1s ease-out,-webkit-transform .1s ease-out;
  display: inline-block;
}

.icon div img{
  padding-bottom: 2px;
}

.right-side-button:hover{
  background: var(--clr-neutral-400);
}

.icon{

}

.grid-container{
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  gap: 2rem;
  height: 46rem;
  margin: 2rem 0 1.9rem;
}

.game-board-cell{
  background-color: var(--clr-primary-200);
  border-radius: 1.5rem;
  box-shadow: inset 0 -8px 0 #10212a;
  transition: box-shadow .1s ease-out,transform .1s ease-out,max-height .1s ease-out,-webkit-transform .1s ease-out;
}

.game-board-cell.empty{
  cursor: pointer;
  position: relative;
}

.game-board-cell.empty::after{
  content: "";
  position: absolute;
  inset: 0;
  bottom: 0;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #1f3641;
  transition: background-size .2s ease-out,opacity .2s ease-out;
  border-radius: 15px;
  box-shadow: inset 0 -8px 0 #10212a;
  opacity: 0;
}

.game-board-cell.empty.preview-o::after{
  background-image: url("/images/icons/icon-o-outline.svg");
  background-size: 6.4rem;
  opacity: 1;
}

.game-board-cell.active.o{
  background: url("/images/icons/icon-o-bright-yellow.svg")
  no-repeat 50% #1f3641;
}

.game-board-cell.empty.preview-x::after{
  background-image: url("/images/icons/icon-x-outline.svg");
  background-size: 6.4rem;
  opacity: 1;
}

.game-board-cell.active.x{
  background: url("/images/icons/icon-x-bright-green.svg") no-repeat 50% #1f3641;
}

.game-board-cell.active{
  transform: translateY(4px);
  max-height: 13.6rem;
  cursor: default;
  box-shadow: inset 0 -4px 0 #10212a;
}

.score-container{
  display: flex;
  gap: 2rem;
}

.game-scores{
  flex: 1 1;
  border-radius: 1.5rem;
  height: 7.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.x-wins{
  background-color: var(--clr-primary-900);
}

.ties{
  background-color: var(--clr-primary-300);
}

.o-wins{
  background-color: var(--clr-primary-700);
}

.game-scores label{
  font-size: 1.4rem;
  line-height: 1.764rem;
  letter-spacing: .88px;
  color: #1f3641;
  text-transform: uppercase;
}

.game-scores b{
  font-size: 2.4rem;
  line-height: 3.024rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  color: #1f3641;
}


