main{
  
}

.container{
  max-width: 508px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Game_Container{
  flex: 1 1;
}

.Game_Container_Header{
  display: flex;
  min-height: 40px;
  justify-content: space-between;
}

.Left_Side_Container{
  margin-top: 3px;
}

.Left_Side{
  display: flex;
  gap: 6px;
  width: 72px;
}

.Left_Side img{
  min-width: 32px;
  min-height: 32px;
}

.Center_Container{
  background-color: #1f3641;
  box-shadow: inset 0 -4px 0 #10212a;
  border-radius: 10px;
  transform: translateX(-11px);
}

.Center{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100%;
  width: 140px;
  padding: 0 10px 6px;
}

.Center img{
  width: 20px;
}

.Center label{
  font-size: 1.6rem;
  line-height: 0;
  letter-spacing: 1px;
  font-weight: 700;
  color: #a8bfc9;
}

.Right_Side_Container{

}

button{
  border: none;
  color: #1a2a33;
  cursor: pointer;
  transition: box-shadow .1s ease-out,transform .1s ease-out,-webkit-transform .1s ease-out;
}

.Right_Side_Button{
  background: var(--clr-primary-400);
  box-shadow: inset 0 -4px 0 var(--clr-neutral-500);
  height: 52px;
  padding: 0 16px;
  border-radius: 10px;
  width: auto;
  position: relative;
}

.Right_Side_Button:active{
  top: 2px;
  box-shadow: inset 0 -2px 0 var(--clr-neutral-500);
}

.icon div{
  position: relative;
  top: 2px;
  transition: transform .1s ease-out,-webkit-transform .1s ease-out;
  display: inline-block;
}

.icon div img{
  padding-bottom: 2px;
}

.Right_Side_Button:hover{
  background: var(--clr-neutral-400);
}

.icon{

}

.Grid_Container{
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  gap: 20px;
  height: 460px;
  margin: 20px 0 19px;
}

.game_board_cell{
  background-color: var(--clr-primary-200);
  border-radius: 15px;
  /*
  display: flex;
  align-items: center;
  justify-content: center;*/
  box-shadow: inset 0 -8px 0 #10212a;
  max-height: 140px;
  transition: box-shadow .1s ease-out,transform .1s ease-out,max-height .1s ease-out,-webkit-transform .1s ease-out;
}

.game_board_cell.empty{
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.Score_Container{
  display: flex;
  gap: 20px;
}

.Game_Scores{
  flex: 1 1;
  border-radius: 15px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.X_Wins{
  background-color: var(--clr-primary-900);
}

.Ties{
  
  background-color: var(--clr-primary-300);
}

.O_Wins{
  background-color: var(--clr-primary-700);
}

.Game_Scores label{
  font-size: 1.4rem;
  line-height: 17.64px;
  letter-spacing: .88px;
  font-weight: 500;
  color: #1f3641;
  text-transform: uppercase;
}

.Game_Scores b{
  font-size: 2.4rem;
  line-height: 30.24px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #1f3641;
}

.game_board_cell.empty::after{
  content: "";
  position: absolute;
  inset: 0;
  bottom: 0;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #1f3641;
  transition: background-size .2s ease-out,opacity .2s ease-out;
  border-radius: 15px;
  box-shadow: inset 0 -8px 0 #10212a;
  opacity: 0;
}

.game_board_cell.empty.preview-o::after{
  background-image: url("/images/icons/icon-o-outline.svg");
  background-size: 64px;
  opacity: 1;
}

.game_board_cell.active.o{
  background: url("/images/icons/icon-o-bright-yellow.svg")
  no-repeat 50% #1f3641;
}

.game_board_cell.active.x{
  background: url("/images/icons/icon-x-bright-green.svg") no-repeat 50% #1f3641;
}

.game_board_cell.active{
  transform: translateY(4px);
  max-height: 136px;
}

.game_board_cell.active {
  /*pointer-events: none;*/
  cursor: default;
  box-shadow: inset 0 -4px 0 #10212a;
}
